.special-button {
  background-color: transparent;
  border: none;
  color: #62778a;
}

.rounded-circle-special {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  background-color: #78b5e5;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 30px;
}

.main-logo {
  width: 73px !important;
}
